<head>
  <meta charset="”UTF-8″" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <div class="jumbotron jumbotron-extend">
    <div class="container-fluid jumbotron-container">
      <div class="row">
        <!-- テキストエリア -->
        <h1 id="topname" class="col-lg-12 mb-4 mt-3">Chronomètre</h1>
        <div id="textarea" class="col-lg-6 col-md-offset-3">
          What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing
          and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley
          of type and scrambled it to make a type specimen book. It has survived
          not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged.
        </div>
        <div id="textareas" class="col-12 mt-4">
          Do you want to start the stopwatch?
        </div>
        <p>
          <!-- ストップウォッチへ遷移するボタン -->
          <a class="btn btn-black mt-5" href="./stopwatchs" role="button"
            >------Go to the stopwatch------</a
          >
        </p>
      </div>
    </div>
  </div>
</body>
